/* Css Variables */
:root {
  --primary-color: #4285f4;
  --font-color: #5f6368;
  --body-font-size: 1rem;
  --link-font-size: 0.875rem;
  --footer-location-font-size: 0.9375rem;
  --icon-font-size: 1.4em;
  --profile-picture-size: 1.75em;
  /* --bx-grid-font-size: 1.7em; */
}

@media (min-width: 40em) {
  :root {
    --body-font-size: 1.25rem;
    --link-font-size: 1rem;
    --footer-location-font-size: 1rem;
    --icon-font-size: 1.65em;
    --profile-picture-size: 2em;
    /* --bx-grid-font-size: 1.8em; */
  }
}

/* Reseting user agent default styles */

*,
*::after,
*::before {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-flow: column;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  color: var(--font-color);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
}
.header__nav ul {
  display: flex;
  align-items: center;
  gap: 1em;
  padding-left: 0;
  margin: 0;
}
.header__nav ul li {
  font-weight: 500;
  line-height: 3.5rem;
  font-size: var(--link-font-size);
  list-style: none;
  position: relative;
}
ul a {
  color: inherit;
  text-decoration: none;
}
.header__nav ul li::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: '';
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--primary-color);
  transition: all 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.header__nav ul li:hover {
  color: var(--primary-color);
}
.header__nav ul li:hover::after {
  width: 150%;
  left: -25%;
}
.bx-menu {
  font-size: var(--icon-font-size);
  margin-top: 0.125em;
}
.header__user {
  display: flex;
  align-items: center;
  gap: 1em;
}
.header__user a {
  display: none;
}
.header__user div {
  cursor: pointer;
}
.header__user div .bxs-grid {
  font-size: var(--icon-font-size);
  padding: 0.2em;
  margin-bottom: 0.15em;
}
.header__user div .bxs-grid:hover {
  background: #f2f2f2;
  border-radius: 50%;
}
.header__user div .profile-picture {
  width: var(--profile-picture-size);
  border-radius: var(--profile-picture-size);
}

/* Main Content */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
figure {
  margin: 3em 0 0;
}
figure img {
  width: 209px;
  margin-bottom: 1.5em;
}
.search-input {
  position: relative;
  width: 95%;
  max-width: 584px;
  margin-bottom: 1.5em;
}
.search-input .bx {
  position: absolute;
  top: 0.8em;
  font-size: 1.25rem;
  color: var(--font-color);
}
.search-input .bx-search-alt-2 {
  left: 11px;
}
.search-input .bxs-microphone {
  cursor: pointer;
  right: 11px;
}
input {
  width: 100%;
  border-radius: 25px;
  border: 1px solid #dfe1e5;
  background: #fff;
  padding: 0.9rem 2.5rem;
  font-family: inherit;
  font-size: 1rem;
  outline: none;
}
input:hover {
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: rgba(223, 225, 229, 0);
}

.search-buttons button {
  display: none;
  border: none;
  padding: 0.65em 1em;
  margin: 0 0.4em;
  border-radius: 4px;
  background-color: #f8f9fa;
  color: inherit;
  font-family: inherit;
  font-size: var(--link-font-size);
  cursor: pointer;
}
.search-buttons button:hover {
  box-shadow: 0 0.75px 5px rgb(32 33 36 / 28%);
  border-color: rgba(223, 225, 229, 0);
}

.main__text span {
  font-weight: 300;
  font-size: var(--link-font-size);
  color: #3c4043;
}
.main__text span a {
  text-decoration: none;
  color: var(--primary-color);
  padding-left: 0.2em;
}

/* Footer */
footer {
  margin: auto 0 0 0;
  /* position: absolute;
  bottom: 0px; */
  width: 100vw;
  background-color: #f2f2f2;
  border-top: 1px solid #e3e4e7;
}
.footer__location {
  padding: 0.75em 1.25em;
  border-bottom: 1px solid #dadce0;
  font-size: var(--footer-location-font-size);
  color: #70757a;
}
.footer__info {
  margin: 1em 1.5em;
}
.footer__info ul {
  display: flex;
  justify-content: space-evenly;
}
.footer__info ul:first-child {
  margin-bottom: 1em;
}
.footer__info ul li {
  font-size: var(--link-font-size);
  list-style: none;
  cursor: pointer;
}
.footer__info ul li:hover {
  text-decoration: underline;
}

/* Media queries */
@media screen and (min-width: 45em) {
  .header {
    justify-content: flex-end;
    padding: 1em;
  }
  .header__nav {
    display: none;
  }
  .header__user a {
    display: block;
    text-decoration: none;
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.87);
  }
  .header__user a:hover {
    text-decoration: underline;
  }
  figure {
    margin-top: 8em;
  }
  figure img {
    width: 272px;
  }
  .search-buttons button {
    display: inline-block;
    margin-bottom: 1.5em;
  }
  .footer__info {
    display: flex;
    justify-content: space-between;
  }
  .footer__info ul {
    gap: 1.5em;
  }
}
/* @media screen and (min-width: 64.063em) {
} */
